--
-- PostgreSQL database dump
--

\restrict 1HeYXFo2skkvdEgqaLCeHzh1OnK9mZvfmZNQ1lCPlyjGhklJYJ5hOPh0UBqsYof

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: chat_hidden; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_hidden (
    id integer NOT NULL,
    user_id integer,
    chat_id uuid,
    hidden_at timestamp without time zone
);


ALTER TABLE public.chat_hidden OWNER TO postgres;

--
-- Name: chat_hidden_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chat_hidden_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chat_hidden_id_seq OWNER TO postgres;

--
-- Name: chat_hidden_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chat_hidden_id_seq OWNED BY public.chat_hidden.id;


--
-- Name: chat_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_members (
    id uuid NOT NULL,
    chat_id uuid,
    user_id integer,
    role character varying,
    is_admin boolean NOT NULL
);


ALTER TABLE public.chat_members OWNER TO postgres;

--
-- Name: chats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chats (
    id uuid NOT NULL,
    name character varying,
    is_group boolean,
    created_at timestamp without time zone,
    admin_id integer,
    avatar_url character varying,
    description character varying
);


ALTER TABLE public.chats OWNER TO postgres;

--
-- Name: friendships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.friendships (
    id integer NOT NULL,
    user_id integer,
    friend_id integer,
    status character varying
);


ALTER TABLE public.friendships OWNER TO postgres;

--
-- Name: friendships_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.friendships_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.friendships_id_seq OWNER TO postgres;

--
-- Name: friendships_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.friendships_id_seq OWNED BY public.friendships.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.games (
    igdb_id integer,
    id integer NOT NULL,
    name character varying,
    image_url character varying,
    genres json
);


ALTER TABLE public.games OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.games_id_seq OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: message_reactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_reactions (
    id uuid NOT NULL,
    message_id uuid NOT NULL,
    user_id integer NOT NULL,
    reaction_type character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.message_reactions OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id uuid NOT NULL,
    chat_id uuid,
    sender_id integer,
    content text,
    created_at timestamp without time zone,
    is_read boolean,
    status character varying,
    reply_to_id uuid
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id character varying NOT NULL,
    recipient_id integer,
    sender_id integer,
    message character varying,
    type character varying,
    state character varying,
    game character varying,
    created_at timestamp without time zone,
    is_archived boolean
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: rating_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rating_requests (
    id integer NOT NULL,
    sender_id integer,
    receiver_id integer,
    game_id integer,
    created_at timestamp without time zone,
    is_notification_sent boolean,
    is_rated boolean
);


ALTER TABLE public.rating_requests OWNER TO postgres;

--
-- Name: rating_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rating_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rating_requests_id_seq OWNER TO postgres;

--
-- Name: rating_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rating_requests_id_seq OWNED BY public.rating_requests.id;


--
-- Name: user_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_accounts (
    id integer NOT NULL,
    user_id integer,
    service character varying,
    username character varying
);


ALTER TABLE public.user_accounts OWNER TO postgres;

--
-- Name: user_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_accounts_id_seq OWNER TO postgres;

--
-- Name: user_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_accounts_id_seq OWNED BY public.user_accounts.id;


--
-- Name: user_availability; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_availability (
    user_id integer NOT NULL,
    utc_hour integer NOT NULL
);


ALTER TABLE public.user_availability OWNER TO postgres;

--
-- Name: user_games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_games (
    id integer NOT NULL,
    user_id integer,
    game_id integer,
    style character varying
);


ALTER TABLE public.user_games OWNER TO postgres;

--
-- Name: user_games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_games_id_seq OWNER TO postgres;

--
-- Name: user_games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_games_id_seq OWNED BY public.user_games.id;


--
-- Name: user_languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_languages (
    id integer NOT NULL,
    user_id integer,
    lang character varying
);


ALTER TABLE public.user_languages OWNER TO postgres;

--
-- Name: user_languages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_languages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_languages_id_seq OWNER TO postgres;

--
-- Name: user_languages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_languages_id_seq OWNED BY public.user_languages.id;


--
-- Name: user_platforms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_platforms (
    id integer NOT NULL,
    user_id integer,
    platform character varying
);


ALTER TABLE public.user_platforms OWNER TO postgres;

--
-- Name: user_platforms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_platforms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_platforms_id_seq OWNER TO postgres;

--
-- Name: user_platforms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_platforms_id_seq OWNED BY public.user_platforms.id;


--
-- Name: user_ratings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_ratings (
    id integer NOT NULL,
    rater_id integer NOT NULL,
    rated_user_id integer NOT NULL,
    rating integer NOT NULL
);


ALTER TABLE public.user_ratings OWNER TO postgres;

--
-- Name: user_ratings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_ratings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_ratings_id_seq OWNER TO postgres;

--
-- Name: user_ratings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_ratings_id_seq OWNED BY public.user_ratings.id;


--
-- Name: user_styles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_styles (
    id integer NOT NULL,
    user_id integer,
    style character varying
);


ALTER TABLE public.user_styles OWNER TO postgres;

--
-- Name: user_styles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_styles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_styles_id_seq OWNER TO postgres;

--
-- Name: user_styles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_styles_id_seq OWNED BY public.user_styles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    nickname character varying,
    email character varying,
    password character varying,
    avatar character varying,
    timezone_offset integer,
    voice_chat boolean,
    is_online boolean,
    is_pro boolean,
    rating double precision,
    is_verified boolean,
    is_active boolean,
    pro_trial_used boolean,
    pro_expiry_date timestamp without time zone,
    pro_trial_dismissed_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: chat_hidden id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden ALTER COLUMN id SET DEFAULT nextval('public.chat_hidden_id_seq'::regclass);


--
-- Name: friendships id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships ALTER COLUMN id SET DEFAULT nextval('public.friendships_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: rating_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests ALTER COLUMN id SET DEFAULT nextval('public.rating_requests_id_seq'::regclass);


--
-- Name: user_accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts ALTER COLUMN id SET DEFAULT nextval('public.user_accounts_id_seq'::regclass);


--
-- Name: user_games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games ALTER COLUMN id SET DEFAULT nextval('public.user_games_id_seq'::regclass);


--
-- Name: user_languages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages ALTER COLUMN id SET DEFAULT nextval('public.user_languages_id_seq'::regclass);


--
-- Name: user_platforms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_platforms ALTER COLUMN id SET DEFAULT nextval('public.user_platforms_id_seq'::regclass);


--
-- Name: user_ratings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings ALTER COLUMN id SET DEFAULT nextval('public.user_ratings_id_seq'::regclass);


--
-- Name: user_styles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_styles ALTER COLUMN id SET DEFAULT nextval('public.user_styles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
0ee788ea80dd
\.


--
-- Data for Name: chat_hidden; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_hidden (id, user_id, chat_id, hidden_at) FROM stdin;
5	1	bc9406a3-2c24-482f-9718-258825e86f76	2026-07-19 13:12:52.134394
6	1	65b968cb-b508-42f6-8e45-c9517471f4a9	2026-07-19 13:12:54.908644
7	1	5625ef0b-a476-4260-b453-112a30e38a31	2026-07-19 13:12:57.566655
8	1	f522cc3a-e69f-4462-84d1-ff6dbe0b0bc2	2026-07-19 13:38:01.61739
\.


--
-- Data for Name: chat_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: chats; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: friendships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.friendships (id, user_id, friend_id, status) FROM stdin;
2	1	2	blocked
4	4	1	pending
3	3	1	accepted
5	1	5	accepted
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.games (igdb_id, id, name, image_url, genres) FROM stdin;
240366	1	FIFA Street 2	https://images.igdb.com/igdb/image/upload/t_cover_big/co7ppj.jpg	"['Sport']"
154986	2	FIFA 22	https://images.igdb.com/igdb/image/upload/t_cover_big/co3dsm.jpg	"['Simulator', 'Sport']"
267638	3	CrossFire	https://images.igdb.com/igdb/image/upload/t_cover_big/co741s.jpg	"[]"
242408	4	Counter-Strike 2	https://images.igdb.com/igdb/image/upload/t_cover_big/coaczd.jpg	"['Shooter', 'Tactical']"
28029	5	Half-Life 3	https://images.igdb.com/igdb/image/upload/t_cover_big/co1t0u.jpg	"['Shooter']"
\.


--
-- Data for Name: message_reactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_reactions (id, message_id, user_id, reaction_type, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rating_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_accounts (id, user_id, service, username) FROM stdin;
1	1	Discord	player1#1234
2	1	TeamSpeak	player1
3	1	Mumble	player1
4	1	Steam chat	player1
7	3	Guilded	player3#123
8	4	Mumble	player4
9	2	Discord	player2#1234
10	2	TeamSpeak	player2
11	5	Discord	genal#1234
12	5	Mumble	genal
13	6	Discord	player5#1234
14	6	Mumble	player5
15	7	Mumble	player6
16	8	Mumble	player8
\.


--
-- Data for Name: user_availability; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_availability (user_id, utc_hour) FROM stdin;
1	0
1	1
1	2
1	15
1	16
1	17
1	18
1	19
1	20
1	21
1	22
1	23
2	0
2	1
2	2
2	20
2	21
2	22
2	23
3	15
3	16
3	17
3	18
3	19
4	3
4	4
4	5
4	6
4	7
4	8
6	0
6	1
6	2
6	20
6	21
6	22
6	23
7	0
7	1
7	2
7	3
7	4
7	5
7	6
7	7
7	8
7	9
7	10
7	11
7	12
7	13
7	14
7	15
7	16
7	17
7	18
7	19
7	20
7	21
7	22
7	23
8	0
8	1
8	2
8	3
8	4
8	5
8	6
8	7
8	8
8	9
8	10
8	11
8	12
8	13
8	14
8	15
8	16
8	17
8	18
8	19
8	20
8	21
8	22
8	23
5	15
5	16
5	17
5	18
5	19
\.


--
-- Data for Name: user_games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_games (id, user_id, game_id, style) FROM stdin;
1	1	1	default
2	1	2	default
3	1	3	default
4	1	4	default
5	1	5	default
7	2	2	default
8	2	4	default
9	3	2	default
10	3	5	default
12	4	1	default
13	4	4	default
14	4	5	default
15	5	1	default
16	5	2	default
17	5	3	default
18	5	4	default
19	5	5	default
20	6	4	default
21	6	1	default
22	7	1	default
23	7	2	default
24	8	1	default
25	8	2	default
26	8	4	default
27	8	3	default
28	8	5	default
\.


--
-- Data for Name: user_languages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_languages (id, user_id, lang) FROM stdin;
1	1	EN
2	1	UK
3	2	EN
4	2	FR
5	2	PL
6	3	UK
7	3	RU
8	4	EN
9	4	PL
10	5	UK
11	5	EN
12	5	IT
13	5	ES
14	5	FR
15	5	DE
16	5	AR
17	5	PT
18	6	EN
19	6	PL
20	6	KO
21	7	EN
22	7	UK
23	8	UK
24	8	EN
\.


--
-- Data for Name: user_platforms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_platforms (id, user_id, platform) FROM stdin;
1	1	PC
2	1	PS
3	2	Switch
4	2	Mobile
5	2	PS
6	3	PC
7	3	PS
8	3	Xbox
9	4	PS
10	4	Mobile
11	4	Switch
12	5	PC
13	5	PS
14	5	Mobile
15	5	Xbox
16	5	Switch
17	6	Mobile
18	6	Switch
19	7	PC
20	7	Xbox
21	7	Switch
22	8	PC
23	8	PS
24	8	Switch
25	8	Mobile
26	8	Xbox
\.


--
-- Data for Name: user_ratings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ratings (id, rater_id, rated_user_id, rating) FROM stdin;
1	4	1	5
3	2	4	4
4	3	4	5
5	3	1	3
6	3	5	4
7	5	3	3
8	5	1	4
10	5	4	3
9	1	5	3
2	1	4	5
11	1	3	2
\.


--
-- Data for Name: user_styles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_styles (id, user_id, style) FROM stdin;
1	1	Casual
2	1	Training
3	2	Casual
4	2	Co-op
5	3	Training
6	3	Competitive
7	4	Casual
8	4	Co-op
41	5	Casual
42	5	Competitive
43	5	Co-op
44	5	Training
45	6	Co-op
46	7	Training
47	7	Competitive
48	8	Casual
49	8	Co-op
50	8	Training
51	8	Competitive
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: chat_hidden_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_hidden_id_seq', 8, true);


--
-- Name: friendships_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.friendships_id_seq', 5, true);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.games_id_seq', 5, true);


--
-- Name: rating_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rating_requests_id_seq', 33, true);


--
-- Name: user_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_accounts_id_seq', 16, true);


--
-- Name: user_games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_games_id_seq', 28, true);


--
-- Name: user_languages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_languages_id_seq', 24, true);


--
-- Name: user_platforms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_platforms_id_seq', 26, true);


--
-- Name: user_ratings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_ratings_id_seq', 11, true);


--
-- Name: user_styles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_styles_id_seq', 51, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: chat_hidden chat_hidden_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden
    ADD CONSTRAINT chat_hidden_pkey PRIMARY KEY (id);


--
-- Name: chat_members chat_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_members
    ADD CONSTRAINT chat_members_pkey PRIMARY KEY (id);


--
-- Name: chats chats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT chats_pkey PRIMARY KEY (id);


--
-- Name: friendships friendships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: message_reactions message_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: rating_requests rating_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_pkey PRIMARY KEY (id);


--
-- Name: user_accounts user_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts
    ADD CONSTRAINT user_accounts_pkey PRIMARY KEY (id);


--
-- Name: user_availability user_availability_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_availability
    ADD CONSTRAINT user_availability_pkey PRIMARY KEY (user_id, utc_hour);


--
-- Name: user_games user_games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games
    ADD CONSTRAINT user_games_pkey PRIMARY KEY (id);


--
-- Name: user_languages user_languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages
    ADD CONSTRAINT user_languages_pkey PRIMARY KEY (id);


--
-- Name: user_platforms user_platforms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_platforms
    ADD CONSTRAINT user_platforms_pkey PRIMARY KEY (id);


--
-- Name: user_ratings user_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT user_ratings_pkey PRIMARY KEY (id);


--
-- Name: user_styles user_styles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_styles
    ADD CONSTRAINT user_styles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_chat_hidden_chat_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_hidden_chat_id ON public.chat_hidden USING btree (chat_id);


--
-- Name: ix_chat_hidden_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_hidden_user_id ON public.chat_hidden USING btree (user_id);


--
-- Name: ix_friendships_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_friendships_id ON public.friendships USING btree (id);


--
-- Name: ix_games_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_games_id ON public.games USING btree (id);


--
-- Name: ix_games_igdb_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_games_igdb_id ON public.games USING btree (igdb_id);


--
-- Name: ix_games_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_games_name ON public.games USING btree (name);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_user_accounts_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_accounts_id ON public.user_accounts USING btree (id);


--
-- Name: ix_user_availability_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_availability_user_id ON public.user_availability USING btree (user_id);


--
-- Name: ix_user_games_game_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_games_game_id ON public.user_games USING btree (game_id);


--
-- Name: ix_user_games_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_games_id ON public.user_games USING btree (id);


--
-- Name: ix_user_games_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_games_user_id ON public.user_games USING btree (user_id);


--
-- Name: ix_user_languages_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_languages_id ON public.user_languages USING btree (id);


--
-- Name: ix_user_languages_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_languages_user_id ON public.user_languages USING btree (user_id);


--
-- Name: ix_user_platforms_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_platforms_id ON public.user_platforms USING btree (id);


--
-- Name: ix_user_platforms_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_platforms_user_id ON public.user_platforms USING btree (user_id);


--
-- Name: ix_user_ratings_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_ratings_id ON public.user_ratings USING btree (id);


--
-- Name: ix_user_styles_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_styles_id ON public.user_styles USING btree (id);


--
-- Name: ix_user_styles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_styles_user_id ON public.user_styles USING btree (user_id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_nickname; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_nickname ON public.users USING btree (nickname);


--
-- Name: chat_hidden chat_hidden_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden
    ADD CONSTRAINT chat_hidden_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.chats(id);


--
-- Name: chat_hidden chat_hidden_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden
    ADD CONSTRAINT chat_hidden_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_members chat_members_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_members
    ADD CONSTRAINT chat_members_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.chats(id);


--
-- Name: chat_members chat_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_members
    ADD CONSTRAINT chat_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chats chats_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT chats_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.users(id);


--
-- Name: friendships friendships_friend_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_friend_id_fkey FOREIGN KEY (friend_id) REFERENCES public.users(id);


--
-- Name: friendships friendships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: message_reactions message_reactions_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id);


--
-- Name: message_reactions message_reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: messages messages_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.chats(id);


--
-- Name: messages messages_reply_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_reply_to_id_fkey FOREIGN KEY (reply_to_id) REFERENCES public.messages(id);


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: rating_requests rating_requests_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: rating_requests rating_requests_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id);


--
-- Name: rating_requests rating_requests_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: user_accounts user_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts
    ADD CONSTRAINT user_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_availability user_availability_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_availability
    ADD CONSTRAINT user_availability_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_games user_games_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games
    ADD CONSTRAINT user_games_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: user_games user_games_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games
    ADD CONSTRAINT user_games_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_languages user_languages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages
    ADD CONSTRAINT user_languages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_platforms user_platforms_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_platforms
    ADD CONSTRAINT user_platforms_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_ratings user_ratings_rated_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT user_ratings_rated_user_id_fkey FOREIGN KEY (rated_user_id) REFERENCES public.users(id);


--
-- Name: user_ratings user_ratings_rater_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT user_ratings_rater_id_fkey FOREIGN KEY (rater_id) REFERENCES public.users(id);


--
-- Name: user_styles user_styles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_styles
    ADD CONSTRAINT user_styles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 1HeYXFo2skkvdEgqaLCeHzh1OnK9mZvfmZNQ1lCPlyjGhklJYJ5hOPh0UBqsYof

