--
-- PostgreSQL database cluster dump
--

\restrict kBe1wfroyxHBO987YgrcQoCkNgu3X68JonfXZKTzYdNFkXh75L4OiVn0RcTLglu

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:mjeq1IiU4Au/Xc4Jo44t7Q==$e5POP0jHRHKpDoFeU+W/789ZIzePugCn3M/SM35rSFI=:Xs8D550KY1I6Fwe/4wcW/iAdGT5/9nSQRy4rclewL1o=';

--
-- User Configurations
--








\unrestrict kBe1wfroyxHBO987YgrcQoCkNgu3X68JonfXZKTzYdNFkXh75L4OiVn0RcTLglu

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict NydOgETPEI5ELqNxagyhnMEG5ITFgtUBgb9WFITNdtXoybTycywCXhYGLNbd7l5

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict NydOgETPEI5ELqNxagyhnMEG5ITFgtUBgb9WFITNdtXoybTycywCXhYGLNbd7l5

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict h7AwNYXLVQG8kl7X5Nu73f9fhSHfZbV0N7DqxCuDXiFMlafQiHfVkhVcwOtDNph

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chat_hidden; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_hidden (
    id integer NOT NULL,
    user_id integer,
    chat_id uuid,
    hidden_at timestamp without time zone
);


ALTER TABLE public.chat_hidden OWNER TO postgres;

--
-- Name: chat_hidden_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chat_hidden_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_hidden_id_seq OWNER TO postgres;

--
-- Name: chat_hidden_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chat_hidden_id_seq OWNED BY public.chat_hidden.id;


--
-- Name: chat_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_members (
    id uuid NOT NULL,
    chat_id uuid,
    user_id integer,
    role character varying,
    is_admin boolean NOT NULL
);


ALTER TABLE public.chat_members OWNER TO postgres;

--
-- Name: chats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chats (
    id uuid NOT NULL,
    name character varying,
    is_group boolean,
    created_at timestamp without time zone,
    admin_id integer,
    avatar_url character varying,
    description character varying
);


ALTER TABLE public.chats OWNER TO postgres;

--
-- Name: friendships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.friendships (
    id integer NOT NULL,
    user_id integer,
    friend_id integer,
    status character varying
);


ALTER TABLE public.friendships OWNER TO postgres;

--
-- Name: friendships_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.friendships_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.friendships_id_seq OWNER TO postgres;

--
-- Name: friendships_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.friendships_id_seq OWNED BY public.friendships.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.games (
    igdb_id integer,
    id integer NOT NULL,
    name character varying,
    image_url character varying,
    genres json
);


ALTER TABLE public.games OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.games_id_seq OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: message_reactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_reactions (
    id uuid NOT NULL,
    message_id uuid NOT NULL,
    user_id integer NOT NULL,
    reaction_type character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.message_reactions OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id uuid NOT NULL,
    chat_id uuid,
    sender_id integer,
    content text,
    created_at timestamp without time zone,
    is_read boolean,
    status character varying,
    reply_to_id uuid
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id character varying NOT NULL,
    recipient_id integer,
    sender_id integer,
    message character varying,
    type character varying,
    state character varying,
    game character varying,
    created_at timestamp without time zone,
    is_archived boolean
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: rating_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rating_requests (
    id integer NOT NULL,
    sender_id integer,
    receiver_id integer,
    game_id integer,
    created_at timestamp without time zone,
    is_notification_sent boolean,
    is_rated boolean
);


ALTER TABLE public.rating_requests OWNER TO postgres;

--
-- Name: rating_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rating_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rating_requests_id_seq OWNER TO postgres;

--
-- Name: rating_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rating_requests_id_seq OWNED BY public.rating_requests.id;


--
-- Name: user_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_accounts (
    id integer NOT NULL,
    user_id integer,
    service character varying,
    username character varying
);


ALTER TABLE public.user_accounts OWNER TO postgres;

--
-- Name: user_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_accounts_id_seq OWNER TO postgres;

--
-- Name: user_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_accounts_id_seq OWNED BY public.user_accounts.id;


--
-- Name: user_availability; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_availability (
    user_id integer NOT NULL,
    utc_hour integer NOT NULL
);


ALTER TABLE public.user_availability OWNER TO postgres;

--
-- Name: user_games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_games (
    id integer NOT NULL,
    user_id integer,
    game_id integer,
    style character varying
);


ALTER TABLE public.user_games OWNER TO postgres;

--
-- Name: user_games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_games_id_seq OWNER TO postgres;

--
-- Name: user_games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_games_id_seq OWNED BY public.user_games.id;


--
-- Name: user_languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_languages (
    id integer NOT NULL,
    user_id integer,
    lang character varying
);


ALTER TABLE public.user_languages OWNER TO postgres;

--
-- Name: user_languages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_languages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_languages_id_seq OWNER TO postgres;

--
-- Name: user_languages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_languages_id_seq OWNED BY public.user_languages.id;


--
-- Name: user_platforms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_platforms (
    id integer NOT NULL,
    user_id integer,
    platform character varying
);


ALTER TABLE public.user_platforms OWNER TO postgres;

--
-- Name: user_platforms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_platforms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_platforms_id_seq OWNER TO postgres;

--
-- Name: user_platforms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_platforms_id_seq OWNED BY public.user_platforms.id;


--
-- Name: user_ratings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_ratings (
    id integer NOT NULL,
    rater_id integer NOT NULL,
    rated_user_id integer NOT NULL,
    rating integer NOT NULL
);


ALTER TABLE public.user_ratings OWNER TO postgres;

--
-- Name: user_ratings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_ratings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_ratings_id_seq OWNER TO postgres;

--
-- Name: user_ratings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_ratings_id_seq OWNED BY public.user_ratings.id;


--
-- Name: user_styles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_styles (
    id integer NOT NULL,
    user_id integer,
    style character varying
);


ALTER TABLE public.user_styles OWNER TO postgres;

--
-- Name: user_styles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_styles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_styles_id_seq OWNER TO postgres;

--
-- Name: user_styles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_styles_id_seq OWNED BY public.user_styles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    nickname character varying,
    email character varying,
    password character varying,
    avatar character varying,
    timezone_offset integer,
    voice_chat boolean,
    is_online boolean,
    is_pro boolean,
    pro_trial_used boolean,
    pro_expiry_date timestamp without time zone,
    pro_trial_dismissed_at timestamp without time zone,
    rating double precision,
    is_verified boolean,
    is_active boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: chat_hidden id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden ALTER COLUMN id SET DEFAULT nextval('public.chat_hidden_id_seq'::regclass);


--
-- Name: friendships id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships ALTER COLUMN id SET DEFAULT nextval('public.friendships_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: rating_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests ALTER COLUMN id SET DEFAULT nextval('public.rating_requests_id_seq'::regclass);


--
-- Name: user_accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts ALTER COLUMN id SET DEFAULT nextval('public.user_accounts_id_seq'::regclass);


--
-- Name: user_games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games ALTER COLUMN id SET DEFAULT nextval('public.user_games_id_seq'::regclass);


--
-- Name: user_languages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages ALTER COLUMN id SET DEFAULT nextval('public.user_languages_id_seq'::regclass);


--
-- Name: user_platforms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_platforms ALTER COLUMN id SET DEFAULT nextval('public.user_platforms_id_seq'::regclass);


--
-- Name: user_ratings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings ALTER COLUMN id SET DEFAULT nextval('public.user_ratings_id_seq'::regclass);


--
-- Name: user_styles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_styles ALTER COLUMN id SET DEFAULT nextval('public.user_styles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: chat_hidden; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_hidden (id, user_id, chat_id, hidden_at) FROM stdin;
\.


--
-- Data for Name: chat_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_members (id, chat_id, user_id, role, is_admin) FROM stdin;
f1eb6ef6-10bf-41ed-9645-a333144a1a29	6a18e505-b40e-4c3f-90dd-15bc6336c8cf	4	member	f
53319fcb-ef90-4687-8ae3-296d1d367642	6a18e505-b40e-4c3f-90dd-15bc6336c8cf	1	member	f
\.


--
-- Data for Name: chats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chats (id, name, is_group, created_at, admin_id, avatar_url, description) FROM stdin;
6a18e505-b40e-4c3f-90dd-15bc6336c8cf	\N	f	2026-07-23 12:06:53.252462	\N	\N	\N
\.


--
-- Data for Name: friendships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.friendships (id, user_id, friend_id, status) FROM stdin;
1	4	1	pending
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.games (igdb_id, id, name, image_url, genres) FROM stdin;
240455	1	FIFA 22	https://images.igdb.com/igdb/image/upload/t_cover_big/co68bs.jpg	"['Sport']"
126459	2	Valorant	https://images.igdb.com/igdb/image/upload/t_cover_big/cocbci.jpg	"['Shooter', 'Tactical']"
1372	3	Counter-Strike: Global Offensive	https://images.igdb.com/igdb/image/upload/t_cover_big/coc32n.jpg	"['Shooter', 'Tactical']"
\.


--
-- Data for Name: message_reactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_reactions (id, message_id, user_id, reaction_type, created_at) FROM stdin;
32050adb-2795-44e7-b829-927b8b123787	e7c867eb-0386-45d6-8114-5354a5ddf5be	4	like	2026-07-28 13:35:54.412876
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, recipient_id, sender_id, message, type, state, game, created_at, is_archived) FROM stdin;
\.


--
-- Data for Name: rating_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rating_requests (id, sender_id, receiver_id, game_id, created_at, is_notification_sent, is_rated) FROM stdin;
\.


--
-- Data for Name: user_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_accounts (id, user_id, service, username) FROM stdin;
1	1	Mumble	player1
2	2	Mumble	player2
3	3	Mumble	player3
4	4	Mumble	player4
5	5	Mumble	player5
\.


--
-- Data for Name: user_availability; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_availability (user_id, utc_hour) FROM stdin;
1	9
1	10
1	11
1	12
1	13
1	14
2	0
2	1
2	2
2	20
2	21
2	22
2	23
3	0
3	1
3	2
3	9
3	10
3	11
3	12
3	13
3	14
3	20
3	21
3	22
3	23
4	0
4	1
4	2
4	9
4	10
4	11
4	12
4	13
4	14
4	20
4	21
4	22
4	23
5	0
5	1
5	2
5	3
5	4
5	5
5	6
5	7
5	8
5	9
5	10
5	11
5	12
5	13
5	14
5	15
5	16
5	17
5	18
5	19
5	20
5	21
5	22
5	23
\.


--
-- Data for Name: user_games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_games (id, user_id, game_id, style) FROM stdin;
1	1	1	default
2	2	1	default
3	3	1	default
4	3	2	default
5	4	3	default
6	4	1	default
7	5	3	default
8	5	1	default
9	5	2	default
\.


--
-- Data for Name: user_languages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_languages (id, user_id, lang) FROM stdin;
1	1	EN
2	2	UK
3	3	UK
4	3	EN
5	4	UK
6	4	TR
7	4	RU
8	4	EN
9	5	EN
10	5	UK
\.


--
-- Data for Name: user_platforms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_platforms (id, user_id, platform) FROM stdin;
1	1	PC
2	2	PC
3	3	PC
4	3	Mobile
5	4	PC
6	4	Mobile
7	4	Xbox
8	5	PC
9	5	PS
10	5	Switch
11	5	Mobile
12	5	Xbox
\.


--
-- Data for Name: user_ratings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ratings (id, rater_id, rated_user_id, rating) FROM stdin;
\.


--
-- Data for Name: user_styles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_styles (id, user_id, style) FROM stdin;
1	1	Training
2	2	Co-op
3	3	Casual
4	3	Training
5	4	Casual
6	4	Co-op
7	4	Training
8	5	Co-op
9	5	Training
10	5	Competitive
11	5	Casual
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: chat_hidden_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_hidden_id_seq', 1, false);


--
-- Name: friendships_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.friendships_id_seq', 1, true);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.games_id_seq', 3, true);


--
-- Name: rating_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rating_requests_id_seq', 1, false);


--
-- Name: user_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_accounts_id_seq', 5, true);


--
-- Name: user_games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_games_id_seq', 9, true);


--
-- Name: user_languages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_languages_id_seq', 10, true);


--
-- Name: user_platforms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_platforms_id_seq', 12, true);


--
-- Name: user_ratings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_ratings_id_seq', 1, false);


--
-- Name: user_styles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_styles_id_seq', 11, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: chat_hidden chat_hidden_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden
    ADD CONSTRAINT chat_hidden_pkey PRIMARY KEY (id);


--
-- Name: chat_members chat_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_members
    ADD CONSTRAINT chat_members_pkey PRIMARY KEY (id);


--
-- Name: chats chats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT chats_pkey PRIMARY KEY (id);


--
-- Name: friendships friendships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: message_reactions message_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: rating_requests rating_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_pkey PRIMARY KEY (id);


--
-- Name: user_accounts user_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts
    ADD CONSTRAINT user_accounts_pkey PRIMARY KEY (id);


--
-- Name: user_availability user_availability_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_availability
    ADD CONSTRAINT user_availability_pkey PRIMARY KEY (user_id, utc_hour);


--
-- Name: user_games user_games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games
    ADD CONSTRAINT user_games_pkey PRIMARY KEY (id);


--
-- Name: user_languages user_languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages
    ADD CONSTRAINT user_languages_pkey PRIMARY KEY (id);


--
-- Name: user_platforms user_platforms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_platforms
    ADD CONSTRAINT user_platforms_pkey PRIMARY KEY (id);


--
-- Name: user_ratings user_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT user_ratings_pkey PRIMARY KEY (id);


--
-- Name: user_styles user_styles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_styles
    ADD CONSTRAINT user_styles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_chat_hidden_chat_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_hidden_chat_id ON public.chat_hidden USING btree (chat_id);


--
-- Name: ix_chat_hidden_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_chat_hidden_user_id ON public.chat_hidden USING btree (user_id);


--
-- Name: ix_friendships_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_friendships_id ON public.friendships USING btree (id);


--
-- Name: ix_games_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_games_id ON public.games USING btree (id);


--
-- Name: ix_games_igdb_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_games_igdb_id ON public.games USING btree (igdb_id);


--
-- Name: ix_games_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_games_name ON public.games USING btree (name);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_user_accounts_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_accounts_id ON public.user_accounts USING btree (id);


--
-- Name: ix_user_availability_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_availability_user_id ON public.user_availability USING btree (user_id);


--
-- Name: ix_user_games_game_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_games_game_id ON public.user_games USING btree (game_id);


--
-- Name: ix_user_games_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_games_id ON public.user_games USING btree (id);


--
-- Name: ix_user_games_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_games_user_id ON public.user_games USING btree (user_id);


--
-- Name: ix_user_languages_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_languages_id ON public.user_languages USING btree (id);


--
-- Name: ix_user_languages_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_languages_user_id ON public.user_languages USING btree (user_id);


--
-- Name: ix_user_platforms_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_platforms_id ON public.user_platforms USING btree (id);


--
-- Name: ix_user_platforms_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_platforms_user_id ON public.user_platforms USING btree (user_id);


--
-- Name: ix_user_ratings_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_ratings_id ON public.user_ratings USING btree (id);


--
-- Name: ix_user_styles_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_styles_id ON public.user_styles USING btree (id);


--
-- Name: ix_user_styles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_styles_user_id ON public.user_styles USING btree (user_id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_nickname; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_nickname ON public.users USING btree (nickname);


--
-- Name: chat_hidden chat_hidden_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden
    ADD CONSTRAINT chat_hidden_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.chats(id);


--
-- Name: chat_hidden chat_hidden_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_hidden
    ADD CONSTRAINT chat_hidden_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_members chat_members_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_members
    ADD CONSTRAINT chat_members_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.chats(id);


--
-- Name: chat_members chat_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_members
    ADD CONSTRAINT chat_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chats chats_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chats
    ADD CONSTRAINT chats_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.users(id);


--
-- Name: friendships friendships_friend_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_friend_id_fkey FOREIGN KEY (friend_id) REFERENCES public.users(id);


--
-- Name: friendships friendships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: message_reactions message_reactions_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id);


--
-- Name: message_reactions message_reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: messages messages_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.chats(id);


--
-- Name: messages messages_reply_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_reply_to_id_fkey FOREIGN KEY (reply_to_id) REFERENCES public.messages(id);


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: rating_requests rating_requests_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: rating_requests rating_requests_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id);


--
-- Name: rating_requests rating_requests_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rating_requests
    ADD CONSTRAINT rating_requests_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: user_accounts user_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts
    ADD CONSTRAINT user_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_availability user_availability_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_availability
    ADD CONSTRAINT user_availability_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_games user_games_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games
    ADD CONSTRAINT user_games_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: user_games user_games_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_games
    ADD CONSTRAINT user_games_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_languages user_languages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages
    ADD CONSTRAINT user_languages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_platforms user_platforms_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_platforms
    ADD CONSTRAINT user_platforms_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_ratings user_ratings_rated_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT user_ratings_rated_user_id_fkey FOREIGN KEY (rated_user_id) REFERENCES public.users(id);


--
-- Name: user_ratings user_ratings_rater_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ratings
    ADD CONSTRAINT user_ratings_rater_id_fkey FOREIGN KEY (rater_id) REFERENCES public.users(id);


--
-- Name: user_styles user_styles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_styles
    ADD CONSTRAINT user_styles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict h7AwNYXLVQG8kl7X5Nu73f9fhSHfZbV0N7DqxCuDXiFMlafQiHfVkhVcwOtDNph

--
-- PostgreSQL database cluster dump complete
--

